PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/aura_jewelry?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtsecretkeyaura123
JWT_EXPIRE=30d
RAZORPAY_KEY_ID=rzp_test_xxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx
